<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/top_nav') %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA422vOq0FEOGdXd5k4z7b1-3VSH9GXCec&v=3.exp&libraries=geometry&format=png&maptype=roadmap&style=feature:administrative%7Celement:geometry.fill%7Cvisibility:off&style=feature:administrative.land_parcel%7Celement:labels%7Cvisibility:off&style=feature:administrative.locality%7Celement:labels%7Cvisibility:off&style=feature:poi%7Celement:labels.text%7Cvisibility:off"></script>
    <!-- <script src="/javascripts/render-city-name-on-message-container.js"></script> -->
    <script src="/javascripts/rating.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
    <script src="/javascripts/profile-page-coord.js"></script>
    <script src="/javascripts/position-to-city-name.js"></script>

    <div class="container">
      <div class="text-box">
        <div>
          <h3 class="username"><%= currentUser.username %></h3>
          <p class="email small"><%= currentUser.email %></p>
        </div>

        <ul class="nav nav-tabs row" id="myTabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#your-messages" id="your-messages-tab" role="tab" data-toggle="tab" aria-controls="your-messages" aria-expanded="true">Your Messages</a>
          </li>
          <li role="presentation" class="">
            <a href="#read-messages" role="tab" id="read-messages-tab" data-toggle="tab" aria-controls="read-messages" aria-expanded="false">Read Messages</a>
          </li>

        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active in" role="tabpanel" id="your-messages" aria-labelledby="your-messages-tab">

            <% yourMessages.forEach(function(message) { %>

              <div class="message-container">
                <div class="header">
                  <h4 class="message-title">
                    <%= message.title %>
                  </h4>
                  <div class="info">
                    <% var date = moment(message.created_at).format('MMM DD, YYYY'); %>
                    <span class="date"><%= date %></span>
                    <span class="views pull-right"><%= message.views %> views</span>
                  </div>
                </div>
                <p class="message">
                  <%= message.content %>
                </p>
                <div class="footer">
                  <span class="location">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <span class="lat hidden"><%= message.coordinates.lat %></span>
                    <span class="lng hidden"><%= message.coordinates.lng %></span>
                    <span class="city"><%= message.location_name %></span>
                  </span>
                  <span class="likes pull-right">
                    <span class="glyphicon glyphicon-thumbs-up" data-message-id="<%=message.id%>" aria-hidden="true"></span>
                    <span class="like"><%= message.likes %></span>
                    <span>/</span>
                    <span class="glyphicon glyphicon-thumbs-down" data-message-id="<%=message.id%>" aria-hidden="true"></span>
                    <span class="dislike"><%= message.dislikes %></span>
                  </span>
                </div>
              </div>

            <% }); %>

          </div>
          <div class="tab-pane fade" role="tabpanel" id="read-messages" aria-labelledby="read-messages-tab">

            <% readMessages.forEach(function(message) { %>

              <div class="message-container">
                <div class="header">
                  <h4 class="message-title">
                    <%= message.title %>
                  </h4>
                  <div class="info">
                    <% var date = moment(message.created_at).format('MMM DD, YYYY'); %>
                    By <%= message.username %> on <%= date %>
                    <span class="views pull-right"><%= message.views %> views</span>
                  </div>
                </div>
                <p class="message">
                  <%= message.content %>
                </p>
                <div class="footer">
                  <span class="location">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <span class="lat hidden"><%= message.coordinates.lat %></span>
                    <span class="lng hidden"><%= message.coordinates.lng %></span>
                    <span class="city"><%= message.location_name %></span>
                  </span>
                  <span class="likes pull-right">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" data-message-id="<%=message.id%>"></span>
                    <span class="like"><%= message.likes %></span>
                    <span>/</span>
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" data-message-id="<%=message.id%>"></span>
                    <span class="dislike"><%= message.dislikes %></span>
                  </span>
                </div>
              </div>

            <% }); %>

          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <%- include('partials/footer') %>
  </body>
</html>
