<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/top_nav') %>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="/javascripts/postion-to-city-name.js"></script>


    <div class="container">
      <div>
        <h3 class="username"><%= username %></h3>
        <p class="email"><%= email %></p>

      </div>

      <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#your-messages" id="your-messages-tab" role="tab" data-toggle="tab" aria-controls="your-messages" aria-expanded="true">Your Messages</a>
        </li>
        <li role="presentation" class="">
          <a href="#read-messages" role="tab" id="read-messages-tab" data-toggle="tab" aria-controls="read-messages" aria-expanded="false">Read Messages</a>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active in" role="tabpanel" id="your-messages" aria-labelledby="your-messages-tab">

          <% yourMessages.forEach(function(message, i) { %>

            <div class="message-container _<%= i %>">
              <h4 class="message-title">
                <%= message.title %>
              </h4>
              <h6 class="date">
                <%= message.createdOn %>
              </h6>
              <p class="message">
                <%= message.content %>
              </p>
              <div class="footer">
                <span class="location">
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                  <span class="lat hidden"><%= message.lat %></span>
                  <span class="lng hidden"><%= message.lng %></span>
                  <span class="city"></span>
                </span>
                <span class="likes pull-right">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                  <span class="like"><%= message.likes %></span>
                  <span>/</span>
                  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                  <span class="dislike"><%= message.dislikes %></span>
                </span>
              </div>
            </div>

          <% }); %>

        </div>
        <div class="tab-pane fade" role="tabpanel" id="read-messages" aria-labelledby="read-messages-tab">

          <% readMessages.forEach(function(message, i) { %>

            <div class="message-container _<%= i %>">
              <h4 class="message-title">
                <%= message.title %>
              </h4>
              <h6>
                By <%= message.username %> on <%= message.createdOn %>
              </h6>
              <p class="message">
                <%= message.content %>
              </p>
              <div class="footer">
                <span class="location">
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                  <span class="lat hidden"><%= message.lat %></span>
                  <span class="lng hidden"><%= message.lng %></span>
                  <span class="city"></span>
                </span>
                <span class="likes pull-right">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                  <span class="like"><%= message.likes %></span>
                  <span>/</span>
                  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                  <span class="dislike"><%= message.dislikes %></span>
                </span>
              </div>
            </div>

          <% }); %>


        </div>
      </div>



    </div> <!-- /container -->

    <script type="text/javascript">
      $(document).ready(function() {

        var yourMessageCount = $('#your-messages .message-container').length;
        for(var i = 0; i < yourMessageCount; i += 1) {
          (function(i) {
            var container = '#your-messages .message-container._' + i;
            var lat = $(container + ' .lat').text();
            var lng = $(container + ' .lng').text();
            positionToCityName(lat, lng, function(city) {
              console.log(city);
              $(container + ' .city').text(city);
            });
          })(i);
        }

        var readMessageCount = $('#read-messages .message-container').length;
        for(var i = 0; i < readMessageCount; i += 1) {
          (function(i) {
            var container = '#read-messages .message-container._' + i;
            var lat = $(container + ' .lat').text();
            var lng = $(container + ' .lng').text();
            positionToCityName(lat, lng, function(city) {
              console.log(city);
              $(container + ' .city').text(city);
            });
          })(i);
        }

      });
    </script>

    <%- include('partials/footer') %>
  </body>
</html>
