           <% if (yourMessages.length === 0) { %>

              <div class="lead">You have not posted any Geo-Messages yet.</div>

            <% } else { %>

              <% templateVars.yourMessages.forEach(function(message) { %>

                <div class="message-container">
                  <div class="header">
                    <h4 class="message-title">
                      <%= message.title %>
                    </h4>
                    <div class="info">
                      <% var date = moment(message.created_at).format('MMM DD, YYYY'); %>
                      <span class="date"><%= date %></span>
                      <span class="views pull-right"><%= message.views %> views</span>
                    </div>
                  </div>
                  <p class="message">
                    <%= message.content %>
                  </p>
                  <div class="footer">
                    <span class="location">
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                      <span class="lat hidden"><%= message.coordinates.lat %></span>
                      <span class="lng hidden"><%= message.coordinates.lng %></span>
                      <span class="city"><%= message.location_name %></span>
                    </span>
                    <span class="likes pull-right">
                      <span class="glyphicon glyphicon-thumbs-up" data-message-id="<%=message.id%>" aria-hidden="true"></span>
                      <span class="like"><%= message.likes %></span>
                      <span>/</span>
                      <span class="glyphicon glyphicon-thumbs-down" data-message-id="<%=message.id%>" aria-hidden="true"></span>
                      <span class="dislike"><%= message.dislikes %></span>
                    </span>
                  </div>
                </div><!-- message-container -->

              <% }); %>
            <% } // else %>